.home-wrap {
  height: 100vh;
  margin-top: 6rem;
  width: 100vw;
  background-image: url("src//assets/sk.jpg");
  align-items: center;
  width: 100vw;
  background-size: cover;
  justify-content: center;
  display: flex;
  position: fixed;

}
